<section id="experience">
  <h5>The Skills I Have</h5>
  <h2>My Experience</h2>
  <div class="container">
    <div class="frontend" *ngIf="experiences?.frontend?.length">
      <h3>Frontend Development</h3>
      <div class="content">
        <article class="details" *ngFor="let data of experiences?.frontend">
          <mat-icon>verified</mat-icon>
          <div><h4>{{data.title}}</h4>
            <small class="text-light">{{data.experience}}</small></div>
        </article>
      </div>
    </div>
    <div class="backend" *ngIf="experiences?.backend?.length">
      <h3>Backend Development</h3>
      <div class="content">
        <article class="details" *ngFor="let data of experiences?.backend">
          <mat-icon>verified</mat-icon>
          <div>
            <h4>{{data.title}}</h4>
            <small class="text-light">{{data.experience}}</small>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<app-loading *ngIf="loading"></app-loading>
