<section id="about">
  <h5>Get To Know</h5>
  <h2>About Me</h2>
  <div class="container">
    <div class="me">
      <div class="me-image">
        <img src="../../../assets/me2.png" alt="Broken me 2">
      </div>
    </div>
    <div class="content">
      <div class="cards">
        <article class="card">
          <mat-icon>emoji_events</mat-icon>
          <h5>Experience</h5>
          <small>5+ Years Working</small>
        </article>
        <article class="card">
          <mat-icon>people</mat-icon>
          <h5>Clients</h5>
          <small>60+ Worldwide Clients</small>
        </article>
        <article class="card">
          <mat-icon>source</mat-icon>
          <h5>Projects</h5>
          <small>80+ Completed Projects</small>
        </article>
      </div>
      <a href="#contact" class="btn btn-primary">Let's Talk</a>
    </div>
  </div>
</section>
