<section id="portfolio">
  <h5>My Recent Work</h5>
  <h2>Portfolio</h2>
  <div class="container">
    <article class="item" *ngFor="let portfolio of portfolios">
      <div class="item-image">
        <img src="{{api}}{{portfolio.image_link}}" alt="Broken {{portfolio.title}} image">
      </div>
      <h3>{{portfolio.title}}</h3>
      <div class="cta">
        <a *ngIf="portfolio.github_link" href="{{portfolio.github_link}}" target="_blank" class="btn">Github</a>
        <a *ngIf="portfolio.live_link" href="{{portfolio.live_link}}" target="_blank" class="btn btn-primary">Live</a>
      </div>
    </article>
  </div>
</section>
<app-loading *ngIf="loading"></app-loading>
