<section id="testimonials">
  <h5>Review From Clients</h5>
  <h2>Testimonials</h2>
  <div class="container">
    <swiper [navigation]="true">
      <ng-template swiperSlide class="testimonial" *ngFor="let testimonial of testimonials">
        <div class="avatar">
          <img src="{{api}}{{testimonial.image_link}}" alt="broken client avatar">
        </div>
        <h5 class="name">{{testimonial.name}}</h5>
        <small class="review">
          {{testimonial.description}}
        </small>
      </ng-template>
    </swiper>
  </div>
</section>
